@import "tailwindcss";

.container {
    max-width: 600px;
}


.post-text {
    /*Allow for line breaks from text stored in supabase to be displayed*/
    white-space: pre-line;
}

/* For progressive image loading. Blur while preview is loaded, unblur when full size is ready 
See https://codesandbox.io/p/sandbox/9l3n6j5944?file=%2Fsrc%2FApp.vue for example of other transitions*/
.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}

/*Replace builtin tailwind background 
https://stackoverflow.com/questions/31267425/use-the-html-img-tag-as-a-background-image-instead-of-the-css-background-image
*/
.manual-bg-div {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.manual-bg-img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* Manual CSS for tooltips. Tailwindcss doesn't provide anything for us. Taken from 
https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(77, 77, 77, 0.9);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltiptexttop {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltiptextbottom {
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Prevent tooltips from messing up layout on mobile */
@media screen and (max-width: 640px) {
  .tooltip .tooltiptext {
    display: none;
  }
}
